.titleUser{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height);
}
.title1{
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-2);
    line-height: var(--line-height);
}
.title2{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height);
}

.text1{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height);
}
.text2{
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height);
}
.text3{
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height);
}
.text4{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height);
    color: var(--color-grey-7);
}
.text5{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-7);
}
.text6{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height);
}
.textError{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height);
    color: var(--color-alert);
}


